.CardContainer {
    width: 30%;   
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
}


.Card {
    width: 90%;
    height: 350px;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px rgb(124, 114, 114);
    margin: 5%;
    padding: 2%;
   }


   .ImageContainer {
       width: 100%;
       height: 60%;
       align-content: center;
   }

   .content {
        height: 40%;
   }

   .Image {
       width: 95%;
       height:90%;
       margin: 2%; 
   }

   

   .price {
        display: grid;
        grid-template-columns: 80% 20%;

   }

   .prices {
       display: flex;
       
   }

   .pd {
        font-size: 0.8em;
   }

   .sell {
      background: lightcoral;
      width:100%;
      height: 30px;
      text-align: center;
   }

   .rent {
     background: lightgreen;
     width:100%;
      height: 30px;
     text-align: center;
   }



   @media (max-width: 500px) {
    .CardContainer {
        display: flex;
        width: 80%;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        justify-content: center;
    }
   }