.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;

}

.span {
    display: block;
    margin-left: -68%;
}

.span1 {
    display: block;
    margin-left: -78%;
}


@media (min-width: 500px){
    .NavigationItems {
        flex-flow: row;
        
    }


    
}