.Container {
    width: 90%;
    padding-top: 120px;
    height: 800px;
    border: 1px solid black;
    margin: 5%;
    display: flex;
  }
  
  .Menu {
    width: 20%;
    border: 1px solid yellow;
  }
  
  .Main {
    width: 80%;
    border: 1px solid green;
    padding: 2%;
  }


  
@media(max-width:500px) {
  .Container {
    width:90%;
    height: 800px;
    border: 1px solid black;
    margin: 5%;
    display: flex;
    flex-direction: column;
  }

  .Menu {
    width: 100%;
    height: 20%;
    margin-top: -40%; 
  }

  .Main {
    width: 100%;
    margin-top: 40px;
    border: none;
  }
}


@media(min-width: 500px) and (max-width: 1200px)
{
  .Container {
    width: 90%;
    padding-top: 120px;
    height: 800px;
    border: 1px solid black;
    margin: 5%;
    display: flex;
  }

  
.Menu {
  width: 25%;
  border: 1px solid yellow;
}

.Main {
  width: 75%;
  border: 1px solid green;
  padding: 2%;
}

}