
.Inp {
    font-weight: bold;
}

.Image {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 20px;

}
.Cont {
  width: 100%;
}

.formCont {
  height: 1000px;
}

@media(min-width: 500px) and (max-width: 1200px)
{

  .formCont {
    height: 1500px;
  }
  .Cont {
    width: 100%;
    height: 1000px;
    
  }
  .Container {
    width: 100%;
    height: 1000px;
    /* border: 1px solid rgb(226, 215, 215); */
    display: flex;
  }

  
.Menu {
  width: 25%;
}

.Main {
  width: 75%;
  padding: 2%;
  
}

.Image {
  width: 50px;
  height: 50px;

}


}

@media(max-width: 500px){
  
}