/* .Form {
    margin: 10%;
    margin-top: 5%;
    width: 80%;
    border: 1px solid black;
    text-align: center;
    height: 80%;
} */


.Inp {
    font-weight: bold;
}


@media(min-width: 500px) and (max-width: 1200px)
{
  .Container {
    width: 90%;
    padding-top: 120px;
    height: 800px;
    border: 1px solid black;
    margin: 5%;
    display: flex;
  }

  
.Menu {
  width: 25%;
  border: 1px solid yellow;
}

.Main {
  width: 75%;
  padding: 2%;
}

}