.Container {
    padding-top: 40px;
    height: 800px;
    max-height: auto;
}

/* .cartpage {
    
} */

.cartitems {
    /* border: 1px solid black; */
    width: 70%;
    margin-left: 5%;
}

.secondCont {
    width: 100%;
    display: flex;
}

.empty {
    height: 600px;
}

.topHeader {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
    border-bottom-color: rgb(240, 240, 240);
    

}

.checkoutDiv {
    width: 30%;
    margin-left: 2%;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px rgb(124, 114, 114);
    margin-bottom: 100px;
    height: 200px;
    margin-right: 5%;
}

.emptyCart {
    /* border: 1px solid black; */
    width: 100%;
    height: 500px;
    text-align: center;
}

@media(max-width:500px) {
    .Container {
        padding-top: 40px;
        height: 1000px;
        max-height: auto;
    }
    .secondCont {
        width: 100%;
        display: flex;
        flex-direction: column;
    }   

    .cartitems {
        width: 100%;
        margin-left: 5%;
    }

    .checkoutDiv {
        width: 90%;
        margin-left: 5%;
        border: 1px solid black;
        margin-bottom: 100px;
        height: 200px;
        margin-right: 5%;
    }
}