.Container {
    padding-top: 40px;
}

/* .cartpage {
    
} */

.cartitems {
    border: 1px solid black;
    width: 70%;
    margin-left: 5%;
}

.secondCont {
    width: 100%;
    display: flex;
}

.empty {
    height: 600px;
}

.topHeader {
    width: 100%;
    height: 5%;
    border-bottom: 1px solid black;
    border-bottom-color: rgb(240, 240, 240)

}

.checkoutDiv {
    width: 30%;
    margin-left: 2%;
    border: 1px solid black;
    margin-bottom: 100px;
    height: 200px;
    margin-right: 5%;
}

.emptyCart {
    /* border: 1px solid black; */
    width: 100%;
    height: 500px;
    text-align: center;
}