.main {
    /* background-color: rgb(197, 218, 211); */
    padding-top: 2%;
    padding-bottom: 5%;
}


.helpone {
    width: 90%;
    margin-left: 5%;
    padding: 1.5%;
    background-color: aquamarine;
}