.main {
    background-color: aquamarine;
    padding-top: 2%;
    padding-bottom: 5%;
}

.header {
    background-color: grey;
}

.helpone {
    width: 90%;
    margin-left: 5%;
    background-color: azure;
}