.Container {
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  margin-bottom: 150px;
  /* padding-bottom: 150px; */
  display: flex;
}

.Menu {
  width: 20%;
  /* border: 1px solid yellow; */
}

.Main {
  width: 80%;
  /* border: 1px solid black; */
  padding: 2%;   
   font-size: 1.2em;
   height: 100%;

}

@media(max-width:500px) {
   .Container {
     width:90%;
     border: 1px solid black;
     margin: 5%;
     margin-top: 20%;
     padding-bottom: 10%;
     height: auto;
     display: flex;
     flex-direction: column;
   }

   .Menu {
     width: 100%;
     height: 20%; 
   }

   .Main {
     width: 100%;
     border: 1px solid white;

     margin-top: 40px;
     font-size: 1.2em;
     padding-bottom: 30%;
   }
}

@media(min-width: 500px) and (max-width: 1200px)
{
  .Container {
    width: 100%;
    height: 1400px;
    border: 1px solid black;
    display: flex;
  }

  
.Menu {
  width: 25%;
  /* border: 1px solid yellow; */
}

.Main {
  width: 75%;
  border: 1px solid white;
  padding: 2%;
  font-size: 1.2em;

}

  
}


