.Container {
    padding-top: 2%;
    width: 100%;
    /* margin-bottom: 10%; */
    padding-bottom: 10%;
    background-color: white;
    /* background-color: aquamarine; */

    font-size: 1.0em;
}

.content {
    width: 60%;
    border: 1px solid black;
    background-color: aquamarine;
    /* background-color: white; */
    border-radius: 10%;
    margin-left: 20%;
    padding: 5%;
}

.con {
    font-size: 1.2em;
}
@media(max-width: 500px){
.content {
    width: 80%;
    border: 1px solid black;
    border-radius: 10%;
    margin-left: 10%;
    padding: 5%;
}
}