.Toolbar {
    /* width: 96%;
    margin-left: 2%;
    margin-right: 2%;
     */
    width: 100%;
     height: 40px;
     position: fixed;
  /*  top: 0;
    left: 0;
  */  background-color: #0099cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 5;
    border: 1px solid black;
    border-radius: 10px;
}


.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

@media (max-width:499px){
    .DesktopOnly {
        display: none;
    }

    .Toolbar {
        width: 100%;
        height: 56px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #0099cc;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        z-index: 90;
    }


}