.Container {
    padding-top: 20px;
    margin-bottom: 200px;
    height: 500px;
}

.InnerContainer {
    /* border: 1px solid blue; */
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px rgb(124, 114, 114);
    padding-left: 10%;
    padding-top: 3%;
    height: 1200px;
} 

.DateContainer {
    border: 1px solid black;
    margin-right: 15%; 
    height: 300px;
    padding-top: 6%; 
    text-align: center;
    margin-bottom: 20px;
}

/* 
.Img {
    width: 60%;
    height: 30%;
    border-radius: 2%;
} */

.Details {
    margin-top: 2%;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px rgb(124, 114, 114);
    width: 80%;
    
}

.but {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 35%;
}

.tables {
    width: 90%;
    margin: 5%;
}

.tables {
    border: 1px solid black;
    border: 1; 
    border-collapse: collapse;
}

.trs{
    border: 1px solid black;
    border: 1; 
}

.tds{
    border: 1px solid black;
    border: 1; 
}

.firstCont {
    display: flex;
    border:1px solid black;
    height: 100%;
    padding: 2%;
}

.leftdiv{
    border: 1px solid green;
    width: 65%;
    display: flex;
    flex-direction: column;
    height:100%;

}

.image {
    width: 80%;
    margin-left: 10%;
    height: 55%;
    /* border: 1px solid black; */
    padding-left: 15%; 
    border: 2px solid #eee;
    box-shadow: 0 2px 3px rgb(124, 114, 114);
 

}

.img {
    width: 80%;
    margin-right: 30%;
    /* height: 400px; */
    height: 100%;
    padding: 3%;
}

.details {
    /* border: 1px solid black; */
    width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    height: 40%;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px rgb(124, 114, 114);
 
}

.innerdetails {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2px;
    width: 80%;
    height: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.rightdiv {
    border: 1px solid black;
    width: 35%;
}

.price {
    width: 80%;
    margin-left: 10%;
    height: 50%;
    /* border: 1px solid orange; */
    border: 2px solid #eee;
    box-shadow: 0 2px 3px rgb(124, 114, 114);
       
}