
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    border: 1px solid #555;
  }
  
  .li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .li {
    text-align: center;
    border-bottom: 1px solid #555;
  }
  
  .li:last-child {
    border-bottom: none;
  }
  
  
.li a.active {
    background-color: rgb(226, 75, 75);
    color: white;
  }

  .li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  

  @media(max-width:500px) {
    .ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: #f1f1f1;
      border: 1px solid #555;
    }

    
  
.li a.active {
  background-color: rgb(226, 75, 75);
  color: white;

}

.li a:hover:not(.active) {
  background-color: #555;
  color: white;
}


  }

  @media(min-width:500px) and (max-width:1200px){
    .ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: #f1f1f1;
      border: 1px solid #555;
    }

    
  
.li a.active {
  background-color: rgb(226, 75, 75);
  color: white;
}

.li a:hover:not(.active) {
  background-color: #555;
  color: white;
}


  }
  