.nav {
    width: 100%;
    height: 72px;
    background-color: #6cdaee;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;   
    z-index: 90;
    display: flex;
}

.Logo {

}

.Name {
    margin-left: auto;
}

.sign {
    margin-left: auto;
    height: 100%;
    width: 10%;
    margin-right: 0.5%;
    
}


.afterlogin {
    height: 60px;
    width: 60px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    }

.dropdowncontent {
    display: none;
  position: absolute;
  margin-right: 2%;
  background-color: #f1f1f1;
  min-width: 160px;  
  right: 0;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdowncontent a {
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdowncontent a:hover {background-color: #ddd;}

.afterlogin:hover .dropdowncontent {display: block;}


/* .Logo {
    border: 1px solid black;
    width: 20%;
    padding: 3%;
    height: 99%
}

.sign {
    border: 2px solid black;
    width: 20%;
    float: right;
    height: 99%;    
}

.Name {
    
}
 */
@media (max-width:499px){
    .nav {
        display: none;
    }
}