.Container {
    width: 90%;
    padding-top: 120px;
    height: 800px;
    border: 1px solid black;
    margin: 5%;
    display: flex;
  }
  
  .Menu {
    width: 20%;
    border: 1px solid yellow;
  }
  
  .Main {
    width: 80%;
    border: 1px solid green;
    padding: 2%;
    text-align: center;
  }

  .ImageCont {
    width: 35%;
    height: 300px;
    margin-left: 30%;
    margin-right: 30%; 
    margin-top: 5%;
    border:5px dashed #545565;
  
  }

  .Image {    
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 300px;
  }

  .Form {
    margin-top: 15px;
  }

  .preImage {
    width: 100%;
    height: 300px;
    margin-left: 1%;
    margin-top: 1%;
    max-width: 98%;
    max-height: 98%;
    background-color: gray; 
  }

  
@media(max-width:500px) {
  .Container {
    width:90%;
    height: 800px;
    border: 1px solid black;
    margin: 5%;
    display: flex;
    flex-direction: column;
  }

  .Menu {
    width: 100%;
    height: 20%;
    margin-top: -40%; 
  }

  .Main {
    width: 100%;
    margin-top: 40px;
    border: none;
  }

  .ImageCont {
    width: 90%;
    margin-left: 5%;
    margin-right: 5px;
  }
}


@media(min-width: 500px) and (max-width: 1200px)
{
  .Container {
    width: 90%;
    padding-top: 120px;
    height: 800px;
    border: 1px solid black;
    margin: 5%;
    display: flex;
  }

  
.Menu {
  width: 25%;
  border: 1px solid yellow;
}

.Main {
  width: 75%;
  border: 1px solid green;
  padding: 2%;
}

.ImageCont {
  width: 50%;
  margin-left: 5%;
  margin-right: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

}