.bigDiv {
    width: 80%;
    height:250px;
    border: 2px solid #ccc;
    box-shadow: 0 2px 3px rgb(124, 114, 114);
    margin-bottom: 20px;
    /* display: grid; */
    display: flex;
    flex-direction: row;
    /* grid-template-columns: 30% 70% ;  */
    margin-left: 10%;
    padding-left: 5%;
    padding-right: 5%;
        
}

.leftDiv {
        /* border:1px solid black; */
    width: 30%;
}

.imageCont {
    height: 90%;
    width: 90%;
    padding-top: 5%;
    padding-left: 5%;
}

.Image {
    height: 100%;
    width: 100%;
}

.rightDiv {
    width: 70%;
    padding-left: 10%;

    /* border: 1px solid green; */
}

.valuedel {
    color: blue;
}

.topRightDiv {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.downRightDiv {
    height: 25%;
    width: 100%;
    display: flex;

    /* border: 1px solid red; */
}

.rateDiv {
    position: relative;
    margin-left: 2%;
}

.rateDiv .rate{
visibility: hidden;
  width: 120px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;

}

.rateDiv:hover .rate {
    visibility: visible;

}

.modalHeader {
    display: flex;  
    margin: -20px;
    margin-left: 10px;
    padding-left: 1%; 
    padding-top: 5%;
}


.round {
    border-radius:  50%;
    border: 1px solid black;
    width: 30%;
    height:50%;
    margin-right: 10px;
}


.flname {
     font-size: 0.6em;     
}

.pp {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.rateCom:link {
    color: #ccc
}


.rateCom:hover {
    color:lightyellow;
}

.rateCom:active {
    color: yellow;
}

@media(max-width:500px){
    .bigDiv {
        width: 80%;
        height:450px;
        border: 2px solid #ccc;
        box-shadow: 0 2px 3px rgb(124, 114, 114);
        margin-bottom: 20px;
        /* display: grid; */
        display: flex;
        flex-direction: row;
        /* grid-template-columns: 30% 70% ;  */
        margin-left: 10%;
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        flex-direction: column;       
    }
    
    .leftDiv {
            /* border:1px solid black; */
        width: 100%;
        height: 35%;    
    }
    
    .imageCont {
        height: 90%;
        width: 90%;
        padding-top: 5%;
        padding-left: 5%;
    }
    
    .Image {
        height: 100%;
        width: 100%;
    }
    
    .rightDiv {
        width: 100%;
        padding-left: 10%;
        height: 65%;
        /* border: 1px solid green; */
    }
    
    .valuedel {
        color: blue;
    }
    
    .topRightDiv {
        height: 75%;
        width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    
    .downRightDiv {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    
        /* border: 1px solid red; */
    }
    
    .rateDiv {
        position: relative;
        margin-left: 2%;
    }
    
    .rateDiv .rate{
    visibility: hidden;
      width: 120px;
      background-color: gray;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
    
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
    
    }
    
    .rateDiv:hover .rate {
        visibility: visible;
    
    }
    
    .modalHeader {
        display: flex;  
        flex-direction: row;
        margin: -20px;
        margin-left: 10px;
        padding-left: 1%; 
        width: 100%;
        height: 50%;
    }
    
    .round {
        border-radius:  50%;
        border: 1px solid black;
        width: 40%;
        height:50%;
        margin-right: 10px;
    }

    .flname {
        width: 60%;
    }
    
    .pp {
        position: relative;
        display: inline-block;
        object-fit: cover;
        border-radius: 50%;
        /* border: 1px solid black; */
        width: 100%;
        height: 100%;
    }
    
    .rateCom:link {
        color: #ccc
    }
    
    
    .rateCom:hover {
        color:lightyellow;
    }
    
    .rateCom:active {
        color: yellow;
    }
}

