.search {
     padding-top: 100px;
}

.Container {
     display: flex;
     /* border: 2px solid black; */
     
}

.card {
     width: 60%;
     
}

.Menu {
     width: 20%;
     border: 1px solid yellow;
     height: 550px;
     overflow: scroll;
     overflow-x: hidden;
}

.Type {
     background-color: #F0ECEC;
}

.Main {
     width: 80%;
     display: flex;
     padding: 1%;
     flex-wrap: wrap;
     border: 1px solid green;
}

.type {
     background-color: #D8D8D8;
     margin-bottom: 20px; 
}

.slider {
     margin-bottom: 60px;
}
@media(max-width:500px) {
     .Container {
          width: 100%;
          
     }

     .Menu {
          display: none;
     }

     .Main {
          width: 100%;
          display: flex;
          flex-direction: column;
     }
}

