/* .CardContainer {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 20px;
    margin-left: 65px;
    justify-content: center;
}


.Card {
    width: 300px;
    height: 350px;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 20px;
    margin: 20px;
   } */

   .CardContainer {
    width: 30%;   
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
}


.Card {
    width: 90%;
    height: 400px;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px rgb(124, 114, 114);
    margin: 5%;
    padding: 2%;    
    transition: all 1s;
    text-decoration: none;
   }

   .Card:hover{
       transform: scale(1.1);
   }
   


   .ImageContainer {
       width: 100%;
       height: 60%;
       align-content: center;
   }

   .content {
    text-decoration: none;
        height: 40%;
   }

   .Image {
       width: 95%;
       height:90%;
       margin: 2%; 
   }

   

   .price {
        display: grid;
        grid-template-columns: 80% 20%;
        text-decoration: none;

   }

   .prices {
       display: flex;
       text-decoration: none;

   }

   .pd {
        font-size: 0.8em;
   }

   .sell {
      background: lightcoral;
      width:100%;
      height: 30px;
      text-align: center;
   }

   .rent {
     background: lightgreen;
     width:100%;
      height: 30px;
     text-align: center;
   }



   @media (max-width: 500px) {
    .CardContainer {
        display: flex;
        width: 80%;
        flex-direction: column;
        margin-left: 10%;
        margin-right: 10%;
        justify-content: center;
        z-index: 1;
    }




    
/*     
    .Card {
        width: 250px;
        height: 350px;
        border: 2px solid #eee;
        box-shadow: 0 2px 3px #ccc;
        padding: 20px;
        margin: 20px;
       }
    
       .Image {
           width: 100%;
           height: 60%;
       } */
}



/*
.card {
    width: 250px;
    height: 250px;
    border: 1px solid rgb(19, 18, 18);
    box-sizing:  border-box;    
}

.img {
    width: 100%;
    height: 35%;    
}

*/
