/* .container {
     
} */
/* 
.margin {
    position: absolute;
    top: 80px;
    padding-top: 90px;
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    grid-auto-rows: minmax(100px, auto);
} */
/* 
.space{
    height: 50px;
} */

.home {
    background-color:#272727;
}

.carousel {
    width: 80%;
    height: 550px;
    margin-top: 20px; 
}


.img {
    width: 100%;
    height: 500px;
}

.Image {
    width: 100%;
    height: 500px;
}

.fourDivs {
    width: 100%;
    height: 350px;
    display: flex;
    
} 

.aboveCarousel {
    height: 2px;
}

.maindiv {
    width: 25%;
    border: 1px solid white;
}

.firstDiv {
    border: 1px solid yellow;
    /* background-color:#ff6600; */
    background-color: #ffe400;
    width: 18%;
    margin-left: 2.5%;
    height: 80%;
    transition: all 1s;
    
    display: block;
    box-shadow: 0 2px 3px rgb(124, 114, 114);

}

.firstDiv:hover {
    transform: scale(1.2);    
}


.secondDiv {
    border: 1px solid green;
    /* background-color:#ffcc00; */
    background-color: #ff652f;
    width: 18%;
    margin-left: 7%;
    height: 80%;
    transition: all 1s;
    box-shadow: 0 2px 3px rgb(124, 114, 114);

}

.secondDiv:hover {
    transform:  scale(1.2);    
}


.thirdDiv {
    border: 1px solid green;
    /* background-color:#ff6600; */
    background-color: #ffe400;
    width: 18%;
    margin-left: 7%;
    height: 80%;
    transition: all 1s;
    box-shadow: 0 2px 3px rgb(124, 114, 114);

}


.thirdDiv:hover {
    transform:  scale(1.2);    
}

.thirdDiv a {
    color : white;
    font-size: 2em; 
}

.fourthDiv {
    width: 18%;
    border: 1px solid green;
    /* background-color:#ffcc00; */
    background-color: #ff652f;
    margin-left: 7%;
    height: 80%;
    transition: all 1s;
    box-shadow: 0 2px 3px rgb(124, 114, 114);

}

.fourthDiv:hover {
    transform:  scale(1.2);    
}

