
.home {
    background-color:#272727;
    height: auto;
    padding-bottom: 2%;
}

.carousel {
    width: 80%;
    height: 450px;

    margin-top: 20px; 
}

.carouselCont {
    width: 95%;
    margin-left:2.5%;
}

.img {
    width: 100%;
    height: 500px;
}

.Im {
    width: 100%;
    max-width: 100%;
    height: 400px; 
}

.fourDivs {
    width: 100%;
    height: 150px;
    display: flex;

} 

.aboveCarousel {
    height: 2px;
}

.maindiv {
    width: 25%;
    border: 1px solid white;
}

.firstDiv {
    /* border: 1px solid yellow; */
    /* background-color:#ff6600; */
    /* background-color: #ffe400; */
    background-color: rgb(175, 7, 7);

    width: 18%;
    margin-left: 2.5%;
    height: 70%;
    transition: all 1s;
    text-decoration: none;
    display: block;
    box-shadow: 0 2px 3px rgb(124, 114, 114);
    text-align: center;
    padding-top: 2%;
    color: black;


}

.firstDiv:hover {
    transform: scale(1.2);    
}


.secondDiv {
    /* border: 1px solid green; */
    /* background-color:#ffcc00; */
    /* background-color: #ff652f; */
    background-color: rgb(175, 7, 7);
    color: black;

    width: 18%;
    margin-left: 7%;
    height: 70%;
    transition: all 1s;
    box-shadow: 0 2px 3px rgb(124, 114, 114);
    text-align: center;
    padding-top: 2%;


}

.secondDiv:hover {
    transform:  scale(1.2);    
}


.thirdDiv {
    /* border: 1px solid green; */
    /* background-color:#ff6600; */
    /* background-color: #ffe400; */
    background-color: rgb(175, 7, 7);
    color: black;

    width: 18%;
    margin-left: 7%;
    height: 70%;
    transition: all 1s;
    box-shadow: 0 2px 3px rgb(124, 114, 114);
    text-align: center;
    padding-top: 2%;

}


.thirdDiv:hover {
    transform:  scale(1.2);    
}

.thirdDiv a {
    color : white;
    font-size: 2em; 
}

.fourthDiv {
    width: 18%;
    /* border: 1px solid green; */
    /* background-color:#ffcc00; */
    /* background-color: #ff652f; */
    background-color: rgb(175, 7, 7);
    color: black;

    margin-left: 7%;
    height: 70%;
    transition: all 1s;
    box-shadow: 0 2px 3px rgb(167, 59, 59);
    text-align: center;
    padding-top: 2%;

}

.fourthDiv:hover {
    transform:  scale(1.2);    
}

.topVehicles {
    display: flex;
    background-color:#272727;
    width: 90%;
    margin-left: 5%;
    height: 220px;
}

.topVehiclesDiv {
    border: 2px solid #eee;
    box-shadow: 0 2px 3px rgb(124, 114, 114);
    border-radius: 10%;
    margin:1%;
    margin-left: 5%;
    margin-right:3%;
}

.topVehiclesDiv:hover {
    transform:  scale(1.1);    
}


.sell {
    background: lightcoral;
    width:100%;
    height: 30px;
    text-align: center;
    color: black;
 }

 .rent {
   background: lightgreen;
   width:100%;
    height: 30px;
    color: black;
   text-align: center;
 }

 .imageCont {
     height:60%;
     width: 90%;
     margin-left: 5%;
 }

 .image{
     height: 100%;
     width: 100%;
 }
