.mainDiv {
    width: 80%;
    height: auto;
    margin-left: 10%;
    border: 1px solid black;
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    flex-direction: column;
    padding: 1%;
}

.topDiv {
    display: flex;
    height: 30%;
}

.namedate {
    display: flex;
    flex-direction: row;
}



.imageContainer {
    border-radius:  50%;
    border: 1px solid black;
    width: 5%;
    height:80%;
    /* position: relative;
    display: inline-block; */
    margin-right: 10px;

}

.image {
    position: relative;
    display: inline-block;
    object-fit: cover;
    border-radius: 50%;
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
}

.downDiv {
    height: 65%
}

.ratingDiv {
    margin-left: 60%;
}

.thumbs {
    display: flex;
    padding: 10px;
}

.thumbupdown {
    margin-right: 10%;
}

@media(max-width: 500px){
    .mainDiv {
        width: 90%;
        height: 150px;
        margin-left: 5%;
        border: 1px solid black;
        display: flex;
        margin-bottom: 15px;
        flex-direction: column;
    }
    
    .topDiv {
        display: flex;
        height: 30%;
    }
    
    .imageContainer {
        border-radius:  50%;
        border: 1px solid black;
        width: 10%;
        margin-left:2%; 
        margin-top: 2%;
        height:80%;
        /* position: relative;
        display: inline-block; */
        margin-right: 10px;
    }

    .namedate {
        display: flex;
        flex-direction: row;
        width: 40%;
        font-size: 1.0em;
        margin-top: 2%;
    }

    .image {
        position: relative;
        display: inline-block;
        object-fit: cover;
        border-radius: 50%;
        /* border: 1px solid black; */
        width: 100%;
        height: 100%;
    }
    
    .downDiv {
        height: 65%
    }
    
    .ratingDiv {
        margin-left: 5%;
        width: 50%;
    }
    
    .thumbs {
        display: flex;
        padding: 10px;
    }
    
    .thumbupdown {
        margin-right: 10%;
    }
}