.Content {
    margin-top: 70px;
    /* margin-top: 32px; */
    width: 100%;
    
    /* position: relative; */
    /* background-color: black; */
}

.loadingComponent {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: wheat;
    opacity: 0.2;
    
}