.Content {
    margin-top: 70px;
    /* margin-top: 32px; */
    width: 100%;
    
    /* position: relative; */
    /* background-color: black; */
}

.loadingComponent {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: wheat;
    opacity: 0.2;
    
}

.footerCont {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
}

.footer1{
    width: 20%;
    font-family: open 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer2{
    width: 20%;
}
.footer3{
    width: 20%;
}

.footer4 {
    width: 20%;
}

.footerBottom {
    
}

.ul {
    /* text-align: center; */
    list-style-type: none;
    text-align: left;

}

.ul a {
    color: black;
}

.ul a:hover,
.ul a:active,
.ul a.active {
        color: white;
        
}
